@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-width: #CF86A5;
    border-radius: 4px;
}

.active{
    background-color: #ffebf5;
    border-color:#C586A5;
}